<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReturnZero_Client _ID</key>
	<string>qvfjxNhR4oLWWlcev-Ag</string>
	<key>ReturnZero_Client_Secret</key>
	<string>FTLiDpyMcYJl83vhUIXGL5lGq7BECG03XzqDNFoK</string>
</dict>
</plist>
